body {
    margin: 0;
}

#fondo {
    position: relative;
    width: 100vw; /* full viewport width significa ancho de la ventana gráfica */
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB 0%, #cceeff 40%, #66cc66 40%, #228B22 100%);
}

#sol {
    position: absolute;
    width: 10%;
    height: 17%;
    background: radial-gradient(circle, #ffff99, #ffcc00);
    border-radius: 50%;
    top: 7%;
    right: 8%;
}

#montanias {
    position: absolute;
    bottom: 40%;
    width: 100%;
    height: 30%;
    background: #3fa34d;
    border-radius: 50% 50% 0 0; /* Redondea las esquinas superiores % del tamaño del elemento */
}

#rio1 {
    position: absolute;
    width: 44%;
    height:10%;
    background: #4da6ff;
    top: 36%;
    left: 0%;
    border-radius: 0 40% 20% 0;
}

#alcantilado1 {
    position: absolute;
    width: 25%;
    height: 45%;
    background: #2e8b57;
    top: 40%;
    left: 0;
    border-top-right-radius: 20%;
}

#alcantilado2 {
    position: absolute;
    width: 30%;
    height: 45%;
    background: #2e8b57;
    top: 40%;
    right: 0;
    border-top-left-radius: 20%;
}

#cascada {
    position: absolute;
    width: 8%;
    height: 50%;
    background: repeating-linear-gradient(to bottom, #ffffff 0px, #a6d3ff 10px,#4da6ff 80px);
    background-size: 100% 80px; 
    top: 40%;
    left: 35%; 
    border-radius: 15%;
    animation: caida 1s infinite linear;
}

@keyframes caida {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100px;
    }
}

#rio2 {
    position: absolute;
    width: 67%;
    height: 15%;
    background: #3399ff;
    bottom: 0;
    left: 34%;
    border-radius: 10% 0 0 40%;
}