body {
    margin: 0;
}

#fondo {
    position: relative;
    width: 100vw;
    /* full viewport width significa ancho de la ventana gráfica */
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB 0%, #cceeff 40%, #66cc66 40%, #228B22 100%);
}

#contenedor-titulo {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
}

#mensaje {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#sol {
    position: absolute;
    width: 10%;
    height: 17%;
    background: radial-gradient(circle, #ffff99, #ffcc00);
    border-radius: 50%;
    top: 7%;
    right: 8%;
}

#montanias {
    position: absolute;
    bottom: 40%;
    width: 100%;
    height: 30%;
    background: #3fa34d;
    border-radius: 50% 50% 0 0;
    /* Redondea las esquinas superiores % del tamaño del elemento */
}

#rio1 {
    position: absolute;
    width: 44%;
    height: 10%;
    background: #4da6ff;
    top: 36%;
    left: 0%;
    border-radius: 0 40% 20% 0;
}

#alcantilado1 {
    position: absolute;
    width: 33%;
    height: 45%;
    background: #2e8b57;
    top: 40%;
    left: 0;
    border-top-right-radius: 20%;
}

#alcantilado2 {
    position: absolute;
    width: 55%;
    height: 45%;
    background: #2e8b57;
    top: 40%;
    right: 0;
    border-top-left-radius: 20%;
}

#cascada {
    position: absolute;
    width: 8%;
    height: 50%;
    background: repeating-linear-gradient(to bottom,
            #d3e9ff 0vh,
            #a6d3ff 0.7vh,
            #4da6ff 5vh);
    top: 40%;
    left: 35%;
    border-radius: 15%;
    animation: caida 0.5s infinite linear;
    will-change: background-position;
}

@keyframes caida {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 5vh;
    }
}

#rio2 {
    position: absolute;
    width: 66%;
    height: 15%;
    background: #3399ff;
    bottom: 0;
    left: 34%;
    border-radius: 10% 0 0 40%;
}


#cascada,
#rio1,
#rio2,
#alcantilado1,
#alcantilado2 {
    transition: all 2.5s ease;
}

#cascada:hover {
    left: 57%;
}

#cascada:hover ~ #rio2 { /* llamar cosas que están después del elemento del hover */
    width: 44%;
    left: 56%
}

#fondo:has(#cascada:hover) #rio1 { /* llamar cosas que están antes del elemento del hover */
    width: 66%;
}

#fondo:has(#cascada:hover) #alcantilado1 {
    width: 55%;
}

#fondo:has(#cascada:hover) #alcantilado2 {
    width: 33%;
}